.comment-container{
  box-sizing: border-box;
  width: 100%;
  background-color: #ebeef3;
  height: 100%;
  padding: 0px 42px 80px;
}

.comment{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: white;
  padding: 22px;
  border-radius: 12px;
  justify-content: center;

}

.comment form{
width: 100%;
}

.comment textarea{
  width: 100%;
  padding: 10px;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #d7d7d7;
  font-size: 14px;
}

.comment h1{
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 14px;
  padding-left: 10px;
}

.comment button{
  background-color: var(--yellow);
  border: 1px solid #d6a601;
  height: 25px;
  font-size: 14px;
  color: #4c4c4c;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 7px;
  width: 150px;
  height: 30px;
  margin-left: 15px;
}

.comment button:hover{
  background-color: var(--yellow-hov);
}

.comment .user-comments{
    list-style: none;
    padding: 10px;
    color: grey;
    margin-left: 8px;
}
.comment .user-comments h2{
    font-weight: 500;
    color: black;
    padding-bottom: 5px;
}

.comment-title{
    padding-top: 50px;
}