html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video input{
	margin: 0;
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
    box-sizing: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    background: transparent;
    font-family: 'Courier New';
}

html {
    font-size: 62.5%;
}

.landing {
    width: 100vw;
}

.landing .heading {
    width: 100%;
}

.landing h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 3.6rem;
    color: #2e2528;
}

.landing h2 {
    color: #2e2528;
    font-size: 2rem;
}

.landing .heading {
    text-align: center;
}

.landing .heading .text-container{
    padding: 2.5em 4em;
}

.landing .heading .text-container h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2e2528;
    font-size: 3.6rem;
    padding-bottom: .4em;
}

.landing .heading .text-container h2 {
    color: #2e2528;
    font-size: 2rem;
}

.landing .heading img {
    width: 100%;
    height: 100vh;
}

.landing .container {
    position: relative;
    text-align: center;
    width: 100%;
}

.landing .centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.landing .container .centered h1 {
    font-size: 3.6rem;
    margin-bottom: .7em;
    color: white;
}

.landing .container .centered a {
    color: #2e2528;
    background-color: #ebc456;
    font-size: 2em;
    font-weight: 550;
    padding: .6em 1em;
}

.featured-products {
    display: flex;
    justify-content: space-around;
}

.featured-products .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-products .browse{
    color: #2e2528;
    background-color: #ebc456;
    font-size: 2em;
    font-weight: 550;
    padding: .6em 1em;
    width: 19%;
}