html, body, section, article, header
h1, h2, p, strong, em, a, div, span, ul, li, nav, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.log-in-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebeef3;
}

.log-in-form{ 
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.log-in-form-container h1{
   font-weight: 600;
   color: rgb(47, 47, 47);
   font-size: 35px;
   padding-bottom: 6px;
}
.log-in-form-container h2{
   font-weight: 600;
   color: rgb(80, 80, 80);
   font-size: 25px;
   padding-bottom: 16px;
}
.log-in-form-container .log-in-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 326px;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 12px;
    margin-bottom: 54px
}
.log-in-form-container .log-in-form input{
    border-radius: 6px;
    border: 1px solid #afafaf;
    height: 38px;
    padding: 5px 5px 5px 15px;
    box-sizing: border-box;
    width: 295px;
    margin: 16px;
}

.log-in-form-container .log-in-form input:focus{
    /* border: 2px solid #ffd30e;   */
    background-color: rgb(240, 244, 255);
}
 
.log-in-form-container .log-in-form button {
    background-color: rgb(245 208 106);
    border: 1px solid #957400;
    height: 39px;
    font-size: 15px;
    color: #4c4c4c;
}