.index-container .banner {
   width: 100vw;
   margin-top: 1em;
   height: 100vh;
   background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);
   background-size: cover;
}

.gradient {
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(235, 238, 243, 0), rgb(235, 238, 243));
}

.filler {
   width: 100%;
   height: 100%;
}

.product-index {
    box-sizing: border-box;
    display: flex;
    background-color: var(--lt-grey);
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 53px;
    padding: 16px 90px 90px 90px;
    /* padding-left: 16px;
    padding-right: 16px; */
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    list-style: none;
    max-height: 300px;
    flex-grow: 1;
    width: 275px;
    margin: 10px 5px;
    border: 2px solid rgb(225, 225, 225);
    /* border-radius: 12px; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: 18px;
    font-weight: 550;
    padding: 12px;
}

.product-index .product-item img {
   max-height: 139px;
}

.product-index .product-item:hover {
   color: rgb(0, 0, 0);
}

.product-index .product-item li:first-child {
   min-height: 60px;
}

.index-container {
   background-color: #ebeef3;
   /* font-family: Arial, Helvetica, sans-serif; */

}

.no-result-container{
   height: 500px;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
   
}

.no-result {
   font-size: 30px;
   background-color: #ebc456;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   width: -webkit-fill-available;
}

.browse{
   color: #2e2528;
   background-color: var(--yellow);
   font-size: 2em;
   font-weight: 550;
   padding: var(--button-pad);
   margin-top: 50px;
   text-align: center;
   cursor: pointer;
}

.browse:hover{
   background-color: var(--yellow-hov);
}
