.product-index {
    box-sizing: border-box;
    display: flex;
    background-color: #ebeef3;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 53px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    list-style: none;
    max-height: 300px;
    flex-grow: 1;
    width: 275px;
    margin: 10px 5px;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: 18px;
    font-weight: 550;
    padding: 12px;
}

.product-index .product-item img {
   max-height: 139px;
}

.product-index .product-item:hover {
   color: rgb(0, 0, 0);
}

.product-index .product-item li:first-child {
   min-height: 60px;
}

.product-index-link {
   /* width: 100%; */
}