html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video input{
	margin: 0;
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
    box-sizing: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    background: transparent;
    font-family: 'Courier New';
}

:root {
    --charcoal: #2c2526;
    --drk-grey: #53555f;
    --grey: #818792;
    --lt-grey: #ebeef3;
    --yellow: #ebc456;
    --yellow-hov: #c28e00;
    --white: #f4f4f4;
    --button-pad: 0.7em 1.2em;
    --button-font: 1.8rem;
    --heading-font-size: 4rem;
    --heading-font-weight: 600;
    --heading-font: 'Source Sans Pro', sans-serif;
    --font: 'Courier New';
}
   
.index-container {
   /* width: 100%; */
   background-color: var(--lt-grey);
   /* min-height: 100vh; */
}

.banner {
   /* position: relative; */
   /* width: 100%;
   height: 70vh; */
   /* margin-top: 1em; */
   /* background-color: red; */
   /* background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);
   background-repeat: no-repeat; */
   /* background-color: yellow; */
   min-width: 100vw;
   /* min-height: 100vh; */
   /* background-size: 100%; */
   /* position: absolute; */
   /* background-position: center; */
   /* width: 100%; */
   /* position: relative; */
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.banner-img {
   width: 100%;
   height: auto;
   /* min-width: 100vw; */
   /* max-height: 100vh; */
   /* position: absolute; */
   
}

.overlay {
   background: linear-gradient(rgba(255, 255, 255, 0), var(--lt-grey));
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.banner h1 {
   font-size: 5em;
   font-weight: var(--heading-font-weight);
   font-family: var(--heading-font);
   color: var(--yellow);
   position: absolute;
   text-align: center;
   width: 50%;
   padding-top: 3em;
}

.banner-container {
   position: absolute;
   margin-top: 1.5em;
}


/* product grid */

.product-index {
    box-sizing: border-box;
    display: flex;
    /* background-color: var(--lt-grey); */
   background-color: transparent;
    /* position: absolute; */
    flex-wrap: wrap;
    padding-bottom: 53px;
    padding: 47em 90px 90px 90px;
    /* padding-top: 50em; */
    /* padding-left: 16px;
    padding-right: 16px; */
    position: relative;
    z-index: 0;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    list-style: none;
    max-height: 300px;
    flex-grow: 1;
    width: 275px;
    margin: 10px 5px;
    border: 2px solid rgb(225, 225, 225);
    /* border-radius: 12px; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: 18px;
    font-weight: 550;
    padding: 12px;
}

.product-index .product-item img {
   max-height: 139px;
}

.product-index .product-item:hover {
   color: rgb(0, 0, 0);
}

.product-index .product-item li:first-child {
   min-height: 60px;
}


.no-result-container{
   height: 500px;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
   
}

.no-result {
   font-size: 30px;
   background-color: #ebc456;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   width: -webkit-fill-available;
}

.browse{
   color: #2e2528;
   background-color: var(--yellow);
   font-size: 2em;
   font-weight: 550;
   padding: var(--button-pad);
   margin-top: 50px;
   text-align: center;
   cursor: pointer;
}

.browse:hover{
   background-color: var(--yellow-hov);
}
