html, body, section, article, header, main, footer,
h1, h2, p, strong, em, a, div, span, ul, li, nav, img textarea form{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.product-show {
  box-sizing: border-box;
  display: flex;
  min-height: 700px;
  width: 100%;
  background-color: #ebeef3;
  justify-content: space-around;
  align-items: center;
  padding: 0px 35px;
}

.product-show .image-container{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 9000px;
  flex-grow: 1;
  /* padding: 46px 165px; */
  /* padding: 20px 0px; */
  background-color: white; 
  height: 600px;
  margin: 13px;
  border-radius: 12px;

}

.product-show img {
  max-width: 350px;
  max-height: 500px;
}

.product-show .product-text-container{
  box-sizing: border-box;
  flex-grow: 2;
  background-color: yellow;
  padding: 23px;
  margin: 13px;
  background-color: white;
  height: 600px;
  border-radius: 12px;
}




.product-show .product-text-container h1{
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid rgb(187, 187, 187);
  padding-bottom: 10px;
}

.product-show .product-text-container h2{
  font-size: 16px;
  font-weight: 600;
  padding-top: 16px;
}

.product-show .product-text-container p{
  font-size: 14px;
  padding-top: 5px;
}

.product-show .price-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  width: 2800px;
  padding: 23px;
  margin: 13px;
  border-radius: 12px;
  background-color: white;
  height: 600px;
  border-radius: 12px;
}

.product-show .price-container .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}

.product-show .price-container .inner .p-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.product-show .price-container h1{
  color: #ce0000;
  font-size: 18px;
}

.product-show .price-container .a{
      color: #717171;
    font-size: 14px;
}
.product-show .price-container .b{
    font-size: 13px;
    font-weight: 550;
}
.product-show .price-container .c{
    font-size: 18px;
    color: green;
}
.product-show .price-container .d{
    font-size: 14px;
}

.product-show .price-container .button-container{
  display: flex;
  flex-direction: column;
}

.product-show .price-container button{
  background-color: rgb(245, 208, 106);
  border: 1px solid #d6a601;
  height: 25px;
  font-size: 12px;
  color: #4c4c4c;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 7px;
}

.comment-container{
  box-sizing: border-box;
  width: 100%;
  background-color: #ebeef3;
  height: 100%;
  padding: 0px 42px 80px;
}

.comment{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* width: 1285px; */
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: white;
  padding: 22px;
  /* margin: 0px 20px 0px 43px; */
  border-radius: 12px;
  justify-content: center;

}

.comment form{
width: 100%;
/* background-color: #fffee4;; */
}
.comment textarea{
  width: 100%;
  padding: 10px
}
.comment h1{
font-size: 24px;
  font-weight: 500;
  /* border-bottom: 1px solid rgb(187, 187, 187); */
  padding-bottom: 10px;
  padding-left: 10px;
}
.comment button{
background-color: rgb(245, 208, 106);
  border: 1px solid #d6a601;
  height: 25px;
  font-size: 12px;
  color: #4c4c4c;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 7px;
  width: 150px;
  height: 30px;
  /* margin-left: 10px; */
}
