html, body, section, article, header
h1, h2, p, strong, em, a, div, span, ul, li, nav, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebeef3;
    padding-top: 30px;
}

.signup-form-container h1{
   font-weight: 600;
   color: rgb(47, 47, 47);
   font-size: 35px;
   padding-bottom: 10px;
}
.signup-form-container h2{
   font-weight: 600;
   color: rgb(80, 80, 80);
   font-size: 25px;
   /* padding-bottom: 16px; */
}

.signup-form-container .signup-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 565px;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 12px;
    margin-bottom: 9px;
}

.signup-form-container .signup-form input{
    border-radius: 6px;
    border: 1px solid #afafaf;
    height: 38px;
    padding: 5px 5px 5px 15px;
    box-sizing: border-box;
    width: 295px;
    margin: 16px;
    text-align: center;
}

.signup-form-container .signup-form .input input:focus{
    /* border: 2px solid #ffd30e;   */
    background-color: rgb(240, 244, 255);
}
 
.signup-form-container .signup-form .signup-button {
    background-color: rgb(245, 208, 106);
    border: 1px solid #957400;
    height: 39px;
    font-size: 15px;
    color: #4c4c4c;
}

.signup-form-container .errors{
    list-style: none;
    color: rgb(204, 2, 2);
    font-size: 13px;
    text-align: center;
}
.signup-form-container .signup-button:hover{
    background-color: rgb(240, 188, 45);
}

.signup-form-container .login-Link-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 295px;
    margin-bottom: 20px;
    padding-top: 14px;
}
.signup-form-container .login-Link-container nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #6f6f6f;
}

.signup-form-container .login-Link-container .link{
    width: 100%;
    height: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 16px;
    color: #0066c0;
    padding: 0px 8px
    
}
.signup-form-container .login-Link-container .home{
        align-items: flex-start;
}
.signup-form-container .login-Link-container .link:hover{  
    color: rgb(190, 103, 3); 
    text-decoration: underline;
}
.signup-form-container .login-Link-container .text{
    font-size: 14px;
    color: #6f6f6f;
    margin-bottom: 5px;
}