.header {
    /* background-color: #474756; */
    background-color: #5b6068;
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    overflow: hidden;
    top: 0;
    width: 100%;
    /* position: fixed; */
    margin-top: 0;
    align-items: center;
    margin-right: 100px;
    left: 0;
    color: rgb(245, 223, 77);
    font-family: Arial, Helvetica, sans-serif;

}

.header-container p {
    color: transparent;
    background-color: #fffee4;
    height: 15px;
}

.brand-name {
    text-decoration: none;
    color: rgb(245, 223, 77);
    margin-left: 50px;
    padding-right: 11px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 223, 0);
}



.authentication {
    margin-right: 50px;
    display: flex;
    justify-self: space-around;
    align-items: center;
    width: 10%;
    color: rgb(0 0 0);
    font-size: 18px;
    font-weight: 600;
}
.authentication :first-child {
    border-right: 1px;
    padding-right: 9px;
    padding-left: 11px;
    color:rgb(255, 223, 0);
}
.authentication :first-child:hover {
    color:rgb(251, 239, 169);
}
.authentication :last-child {
    border-right: 1px ;
    padding-left: 9px;
    color: rgb(255, 255, 255);
}
.authentication :last-child:hover {
    color: rgb(184, 184, 184);
}
.nav-bar {
    margin-right: 50px;
    display: flex;
    justify-self: space-around;
    align-items: center;
    width: 10%;
    color: rgb(0 0 0);
    font-size: 18px;
    font-weight: 600;
}
.nav-bar :first-child {
    border-right: 1px;
    padding-right: 9px;
    padding-left: 11px;
    color:rgb(255, 223, 0);
}
.nav-bar :first-child:hover {
    color:rgb(251, 239, 169);
}
.nav-bar :last-child {
    background-color: transparent;
    border: none;
    /* border-right: 1px ; */
    padding-left: 9px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
.nav-bar :last-child:hover {
    color: rgb(184, 184, 184);
}

.splash {
    background-color: rgb(245, 223, 77);
    height: 100%;
}

.search-bar {
    box-sizing: border-box;
    width: 650px;
    display: flex;
    justify-content: center;
}

.search-bar input{
    width: 650px;
    height: 35px;
    box-sizing: border-box;
    padding: 5px 21px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
}

.search-bar input:focus{
}


.header-container .nav-bar button:hover {
    color: rgb(184, 184, 184);
}