/* .full-page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.full-page-container #main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: blueviolet;
} */