#page-container {
  position: relative;
  min-height: 100vh;
  background-color: #ebeef3;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;        
}