/* .full-page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.full-page-container #main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: blueviolet;
} */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}